{% load render_table from django_tables2 %}
{% block content %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> Answer the Question</title>
</head>
<body>
{% load staticfiles %}
<div id="logo"><img src="{% static "images/CCLL Logo.jpeg" %}" height='100' width='200'/></div>

<!-- {% if thequestion %} -->
<form method = "post" action="answerQuestions" onsubmit="DoSubmit()">
{% csrf_token %}
<div>
<h4 name="quizname">QuizName : {{ thequestion.quizname }}</h4>
<h4 name = "question">Question : {{ thequestion.question }}</h4>
<input name = "quiz" type="text" style="visibility: hidden" value={{ thequestion.id }}/>
<div>
<label>USER ID:</label>
<input name = "userId" type="text"> </input>
</div>
<div>
<label>Your Answer:</label>
<input name = "answer" type="text"/>
</div>
<div>
<input type="submit" value="Submit">
 </div>
</div>
</form>
<!-- {% else %}
<div>
<h4>Question does not Exist</h4>
</div>
{% endif %} -->
</body>
</html>
{% endblock %}