<!DOCTYPE html>
<html>

<head>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
{% load staticfiles %}
<script type="text/javascript" src="{% static "JavaScript/app.js" %}">	</script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	
<style type="text/css">
body {
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat
}

h1.text-center {
  text-align: center;
  padding: 10px 30px 50px 350px;
  text-decoration: underline;
 color: #CEF6F5; 
}

.padding1 {
  padding: 10px 10px 10px 350px;
}

tr.spaceUnder > td {
    padding-bottom: 25px;
}

</style>
</head>

<body background="{% static "images/webbackground.png" %}" data-ng-app="application" ng-controller="QuizMe as quizmeCntrl">

	<!-- <div>
	<form class="" name="input" method="post" action="/answerSaved">
		{% csrf_token %}
		<h3>Please Enter Your Answers</h3>
		<table align="center" style="width: 100%">
			<tr>
				<td><input class="form-control" name="studentId" type="text"
					placeholder="Enter Your Student ID:" required="" autofocus=""></td>
			</tr>
			<tr>
				<td><input class="form-control" name="questionId" type="text"
					placeholder="Enter Question ID:" required="" autofocus=""></td>
			</tr>
			<tr>
				<td><input class="form-control" name="answer" type="text"
					placeholder="Enter Your Answer for Quiz:" required="" autofocus=""></td>
			</tr>
			<tr>
				<td><input class="btn btn-lg btn-primary btn-block"
					type="submit" value=Submit> </td>
			</tr>
		</table>
		</form>
	</div> -->

	<!-- Test with bootstrap -->
	<div class="bs-example">
	<h1 class="text-center"> Please enter your answer here</h1>
	
		
	<div class="padding1">
	<form name="input" method="post" action="/answerSaved">
		{% csrf_token %}
	
		<table align="center" style="width: 100%">
		
		   <tr class="spaceUnder">
				<td><input class="form-control" name="questionId" type="text"
					placeholder="Enter Question ID:" required="" autofocus=""></td>
			</tr>
			
			<tr class="spaceUnder">
				<td><input class="form-control" name="studentId" type="text"
					placeholder="Enter Your Student ID:" required="" autofocus=""></td>
			</tr>
			
			<tr class="spaceUnder">
				<td><input class="form-control" name="answer" type="text"
					placeholder="Enter Your Answer for Quiz:" required="" autofocus=""></td>
			</tr>
			
			<tr class="spaceUnder">
				<td><input class="btn btn-lg btn-primary btn-block"
					type="submit" value=Submit> </td>
			</tr>
		</table>
		</form>
	 	</div>
	</div>

</body>
</html>

