{% extends "index.html" %}

{% block content %}

{% load staticfiles %}
  
 <div id="page-wrapper">

 	<div class="container-fluid">      
     <form name="input" method="post" action="home/createTeams">
			{% csrf_token %}
		
		<input type="hidden" name="queryset" value={{queryset}}> 
	    <div id="datetimepicker" class="input-append date">
	      <input type="text"></input>
	      <span class="add-on"><span class="fa fa-calendar"></span>
	      </span>
	    </div>
	     <script type="text/javascript"
			     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
			    </script>
		 <script type="text/javascript"
			     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
			    </script>
	     <script type="text/javascript">
		      $('#datetimepicker').datetimepicker({
		        format: 'dd/MM/yyyy hh:mm:ss',
		        language: 'pt-BR'
		      });
		    </script>
	   
		<div>
			<select name="selStudent" multiple="multiple" >
				<option value="selTeam" selected>--Select Team Name--</option>
				<option value="A">studentId, First Name, Last Name</option>
				{% for category in queryset %}	
				  <option value="{{category.studentId}},{{category.fname}},{{category.lname}}">{{category.studentId}} , {{category.fname}} , {{category.lname}}</option>
				 {% endfor %}
			</select><br>
			
			
			<select name="teamName">
				  <option value="selTeam" selected>--Select Team Name--</option>
				  <option value="A">Team A</option>
				  <option value="B">Team B</option>
			</select><br>
			<br><input type="submit"> 
		</div>
	
</form>
</div>
</div>

{% endblock %}