{% extends "index.html" %}

{% block content %}

{% load staticfiles %}


<script>
	function showMsg() {
		var x = document.getElementById('submit');

		alert("Question has been submitted");
	}
</script>

<div id="page-wrapper">
<p style="color:white"> <font size="5"> --Add question manually to quiz database-- </font></p>
 	<div class="container-fluid">
		<form class="form-horizontal" role="form" method="post" action="/addQuestion" id="usrform">
			{% csrf_token %} 
				<div class="form-group">
					<label class=" control-label col-sm-2">* Enter Quiz Id:</label>
					<div class="col-sm-5">
					<input class="form-control" type="text" name="quizId" >
					</div>
				</div>
				<div class="form-group">
					<label class=" control-label col-sm-2">Enter Quiz Name:</label>
					<div class="col-sm-5">
					<input class="form-control" type="text" name="quizName">
					</div>
				</div>
				<div class="form-group">
					<label class=" control-label col-sm-2">* Question Id: </label>
					<div class="col-sm-5">
				    <input class="form-control" type="text" name="questionId">
				    </div>
				</div>
				
				<div class="form-group">
					<label class=" control-label col-sm-2">* Enter Question:</label>
					<div class="col-sm-5">
			    	<textarea  class="form-control" rows="1" cols="80" name="question" form="usrform" ></textarea>
			    	</div>
				</div>
				
				<div class="form-group">
					<label class=" control-label col-sm-2">Answer Options:</label>
					<div class="col-sm-5">
			    	<input class="form-control" type="text" name="answerOptions" >
			    	</div>
				</div>
				<div class="form-group">
					<label class=" control-label col-sm-2">Correct Answer:</label>
					<div class="col-sm-5">
			    	<input class="form-control" type="text" name="correctAnswer" >
			    	</div>
				</div>

			<div class="form-group">
    			<div class="col-sm-10">
			 	<button type="submit" class="btn btn-primary padding2"  id="submit" onclick="showMsg()" method="post">Submit</button>
			</div>
			</div>
		</form>
</div>
</div>
{% endblock %}



