<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Collaborative Crowd Learning Labs</title>
<h3>Add Questions</h3>
</head>
<body>
<script>
parent.window.frames['displayframe'].location ='DisplayQuiz';
</script>

<form method = "post" action="addQuestion">
{% csrf_token %}
  Question: <input type="text" name="question"><br>
  Answer Choices: <input type="text" name="answerChoices"><br>
  Correct Answer: <input type="text" name="correctAnswers"><br>
  <input type="hidden" id="quizname" name="quizname"/>
  <input type="submit" value="Add">
</form>
</body>