<!DOCTYPE HTML>
<html>
  <head>
   {% load staticfiles %}
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
      
     <style>
			div {
			    padding-top: 10px;
			   /*  padding-left: 50px;
			    padding-right: 50px; */
			  
			}
			h2{
					text-align: center;
					padding: 10px 5px; 
					text-decoration: underline;
					color: #CEF6F5;
				}
			
		</style>
  </head>
  <body  background="{% static "images/learn.png" %}" style="background-size:cover;position:absolute; top:0; bottom:0; right:0; left:0;">
     
     <h2> Select The Teams</h2>
     <br>
     
     <form name="input" method="post" action="/CreateTeams">
			{% csrf_token %}
		
		<input type="hidden" name="queryset" value={{queryset}}> 
     
     <div id="datetimepicker" class="input-append date" align="center">
      <input type="text" name="datetime" data-format="YYYY-MM-DD HH:MM[:ss[.uuuuuu]]"></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>
   <script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script> 
    <script type="text/javascript"
     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>
    <script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        format: 'dd/MM/yyyy hh:mm:ss',
        language: 'en-us'
      });
    </script>

		
		<div align="center">
			
			<select name="selStudent" multiple="multiple" >
				<option value="selTeam" selected>--Select Team Name--</option>
				<option value="A">studentId, First Name, Last Name</option>
				{% for category in queryset %}	
				  <option value="{{category.studentId}},{{category.fname}},{{category.lname}}">{{category.studentId}} , {{category.fname}} , {{category.lname}}</option>
				 {% endfor %}
			</select><br>
			
			
			<select name="teamName">
				  <option value="selTeam" selected>--Select Team Name--</option>
				  <option value="A">Team A</option>
				  <option value="B">Team B</option>
			</select><br>
			<br><input type="submit"> 
		</div>
	
		</form>
 </body>
 </html>