{% extends "FamilyFeudUIBase.html" %}

{% block content %}

{% load staticfiles %}


		<div ng-app ng-controller='AppController'>
		{% verbatim %}
		<div style="padding-bottom: 4%" >
			<label id="lblQuestion" style="color: white;font-size: 25px;font-family: arial;">{{question.question}}</label>
			<label>{{quizId}}</label>
		</div>	
		<div  style="padding-bottom: 6%">
		<table style="width: 30%; background-color:#FFFF66; border: 2px solid " cellpadding="4px"
		cellspacing="4px"> 
			<tr ng-repeat='answer in answers'>
				<td style="background-color: rgb(250, 176, 37); cursor: pointer; border-right: medium solid rgb(153, 0, 51); 
				border-width: thin medium medium thin; border-style: solid; border-color: rgb(153, 0, 51);">
						<div id="selectOptionDiv{{answer.answerNumber}}" class ="childDiv" ng-click="show=!show" ng-show="!show">
							<span >{{answer.answerNumber}}</span>
						</div>
						<div id="answerDiv{{answer.answerNumber}}" ng-show="show" style="text-align:center;font-weight: bold;"> 
						<span>{{answer.answer}}</span>
						<span style="float: right">{{answer.percentageValue}}%</span>
						</div>
				</td>
	      	</tr>
   	    </table>
		</div>
		<div style="padding-bottom:4%">
			<table  style="width:80%" cellpadding="10px">
				<tr colspan=3 style="text-align:center">
					<td class="label">
						<label>Team A Score</label>
					</td>
					<td  class="label">
						<label>Total Score this round</label>
					</td>
					<td  class="label">
						<label>Team B Score</label>
					</td>
				<tr>
				<tr colspan=3  style="text-align: center">
					<td class="label">
						<label  name="teamAScore">0</label>
					</td>
					<td class="label">
						<label  name="totalRoundScore">0</label>
					</td>
					<td class="label">
						<label  name="teamBScore">0</label>
					</td>
				<tr>
			</table>
		</div>
	
		<div id="nextQuestionDiv"  style="cursor:pointer">
			 <button style="float:left; background:linear-gradient(to bottom, #FFFF66, rgb(250, 176, 37)); border: 2px solid; border-radius: 25px;cursor:pointer;" 
			 ng-click="loadPreviousQuestion()" >Previous Question</button> 
		
			 <button style="float:right; background:linear-gradient(to bottom, #FFFF66, rgb(250, 176, 37)); border: 2px solid; border-radius: 25px;cursor:pointer;" 
			 ng-click="loadNextQuestion()" >Next Question</button> 
		</div>
		{% endverbatim %}
	</div>
	
{% endblock %}

