{% extends "base.html" %}
{% block banner %}
	<h1>Collaborative Crowd Learning Labs</h1>
{% endblock %}
{% block content %}
{% load staticfiles %}

<script>
 function changePassword(){
	 newPassword = Request["newPassword"];
	 confirmPassword = Request["confirmPassword"];
	 token = Request["token"];
	 if isPost
	 {
	     // input testing is ommitted here to save space
	     retunValue = ResetPassword(token, newPassword); 
	 }
	 }
</script>
<script>
	function showMsg() {
		var x = document.getElementById('submit');

		alert("Password updated");
	}
</script>
<style>
h3{
	text-align: center;
	padding: 10px 5px;
	text-decoration: underline;
	color: #CEF6F5;
}
</style>
<h3>Change Password</h3>

<div align="center">
<form method="post" action="resetPassword">
{% csrf_token %} 
<label for="Student ID">Student ID:</label> 
<input type="text" id="studentId" name="studentId" title="Student ID" /> <br>

<label for="newPassword">New Password:</label> 
<input type="password" id="newPassword" name="newPassword" title="New password" /> <br>

<label for="confirmPassword">Confirm Password:</label> 
<input type="password" id="confirmPassword" name="confirmPassword" title="Confirm new password" /> <br>

<input class="btn btn-primary padding2" id="submit"  method="post" type="Submit" value=Submit>
			

</form>
</div>
{% endblock %}