<!DOCTYPE html>
{% extends "index.html" %}

{% block content %}

{% load staticfiles %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<style type="text/css">
.txtfld{ width:50px;}
.printer-row{border-collapse: collapse;}
.printer-row td{border:1px solid #ccc;}
</style>

<script>
var DetailScores = [];
$(document).ready(function(){
         $('.txtfld').bind({
                keyup:function(){

             //total calculation
                        $(".printer-type tr:not(:first, last) td:last-child").text(function () {
                            var totalVal = 0;
                            $(this).prevAll().each(function () {
                                totalVal += parseInt($(this).children('.txtfld').val()) || 0;
                                //totalVal += parseInt( );
                            });
                            return totalVal;
                        });

                        $(".printer-type tr:last td").text(function (i) {
                            var totalVal = 0;
                            $(this).parent().prevAll().find("td:nth-child(" + (++i) + ")").each(function () {
                                totalVal += parseInt($(this).children('.txtfld').val()) || 0;
                                $(".printer-type tr:last td:first").text('Total sheets/year');
                            });
                            return totalVal;

                        });
                        //Total calculation
                }
            });
   
    
    	//make first question visible
    	var rowElem1 = document.getElementById("rowQuestion_1")
    	var rowElem2 = document.getElementById("rowAns_1")
    	if (typeof(rowElem1) != 'undefined' && rowElem1 != null && typeof(rowElem2) != 'undefined' && rowElem2 != null){
    		rowElem1.style.display = "block";
    		rowElem2.style.display = "block";
    		document.getElementById("btnPrev_1").style.display = "none";
    		document.getElementById("btnNext_{{gameData|length }}").style.display = "none";
    	}
    	
    	//form table view
    	
    	{% for detailedscore in detailedscores %}
    		var obj = {}
    		obj.QuizId = {{detailedscore.QuizId}}
    		obj.QuestionId = {{detailedscore.QuestionId}}
    		obj.QuestionName = '{{detailedscore.QuestionName}}'
    		obj.Team1Score = {{detailedscore.Team1Score}}
    		obj.Team2Score = {{detailedscore.Team2Score}}
    		DetailScores.push(obj);
    	{% endfor %}
    	
    	  $("#savescores").click(function() {
            
            	for (i=0 ; i<DetailScores.length; i++){
            		x = DetailScores[i];
            		x.Team1Score = document.getElementById("team1_"+x.QuestionId).value;
            		x.Team2Score = document.getElementById("team2_"+x.QuestionId).value
            	}
            	
            	gameScore ={}
            	gameScore.QuizId = DetailScores[0].QuizId;
            	gameScore.Team1Score =  document.getElementById("team1").innerHTML
            	gameScore.Team2Score =  document.getElementById("team2").innerHTML
            	
            	/* var team1sc = document.getElementById("team1").innerHTML;
         var team2sc = document.getElementById("team2").innerHTML;
         document.getElementById("team1score").value =team1sc ;
         document.getElementById("team2score").value =team2sc ;
         alert(document.getElementById("team1score").value);*/
            	
            	
				$.ajax({
                        url : "/saveScore", 
                        type : "POST",
                        dataType: "json",
                        data : {
                            'DetailScores' : JSON.stringify(DetailScores),
                            'gameScore' : JSON.stringify(gameScore),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success : function(json) {
                              alert(json);
                            },
                            error : function(xhr,errmsg,err) {
                                
                            }
                    });
                    return false;
            });
    	
    });
    
    function onNextButtonClick(me){
    	var visibleDivId = me.parentNode.parentNode.id
    	var currentQue = visibleDivId.split("_")[1];
    
    	document.getElementById("rowQuestion_"+currentQue).style.display = "none";
        document.getElementById("rowAns_"+currentQue).style.display = "none";
        
        currentQue = parseInt(currentQue);
    	currentQue++;
    	
    	var rowElem1 = document.getElementById("rowQuestion_"+currentQue);
    	var rowElem2 = document.getElementById("rowAns_"+currentQue);
    	if (typeof(rowElem1) != 'undefined' && rowElem1 != null && typeof(rowElem2) != 'undefined' && rowElem2 != null){
    		rowElem1.style.display = "block";
    		rowElem2.style.display = "block";
    	}
    }
    
    function onPrevButtonClick(me){
    	var visibleDivId = me.parentNode.parentNode.id
    	var currentQue = visibleDivId.split("_")[1];
    
    	document.getElementById("rowQuestion_"+currentQue).style.display = "none";
        document.getElementById("rowAns_"+currentQue).style.display = "none";
        
        currentQue = parseInt(currentQue);
    	currentQue--;
    	
    	var rowElem1 = document.getElementById("rowQuestion_"+currentQue);
    	var rowElem2 = document.getElementById("rowAns_"+currentQue);
    	if (typeof(rowElem1) != 'undefined' && rowElem1 != null && typeof(rowElem2) != 'undefined' && rowElem2 != null){
    		rowElem1.style.display = "block";
    		rowElem2.style.display = "block";
    	}
    }
</script>

<div >
<hr>
<h3 style="align-content: center">Current Quiz :: {{quizId}}</h3>
<h4 style="align-content: center">No of Questions :: {{questionCount}}</h4>

<div style="width:580px; padding-bottom: 20px">
		<table width= "100%"  style="border: 2px solid;">
			{% for answers in gameData %}
			<tr id="rowQuestion_{{forloop.counter}}"  width="100%" style="display:none;color:#FFFFFF;" align="center">
				<td>
					{{answers.0.question}}
				</td>
			</tr>
			<tr id="rowAns_{{forloop.counter}}"  width= "100%" style="display:none;">
				<td id="btnPrev_{{forloop.counter}}" align="center"   width= "25%" rowspan="{{ answers|length }}" style="padding: 10px">
					<button onClick="onPrevButtonClick(this)">Prev Question</button>
				</td>
				<td  align="center" width="50%" rowspan="{{ answers|length }}" style="padding: 10px; padding-left: 10px">
					 {% for o in answers %}
					 <div>
						 <div style="display:inline-block; text-align: left;">
							 {{o.answer}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						 </div>
						 <div style="display:inline-block; text-align: right;">
						 {{o.percentageValue}} %
						 </div>
					</div>
					{% endfor %}
				</td>
				<td align="center" width= "25%" rowspan="{{ answers|length }}" style="padding: 10px">
					<button id="btnNext_{{forloop.counter}}" onClick="onNextButtonClick(this)">Next Question</button>
				</td>
			</tr>
			{% endfor %}
		</table>

</div>

<div class="printer-type">

<table width="580" border="0" class="printer-row">

  <tr>
    <td>&nbsp;</td>
    <td>Team 1</td>
    <td>Team 2</td>
    <td>Total sheets/year</td>
  </tr>
  {% for detailedscore in detailedscores %}
  <tr>
   <td id="question_{{detailedscore.QuestionId}}">{{detailedscore.QuestionName}}</td>
   <td><input id="team1_{{detailedscore.QuestionId}}" type="text" class="txtfld" value={{detailedscore.Team1Score}}></td>
   <td><input id="team2_{{detailedscore.QuestionId}}"  type="text" class="txtfld" value={{detailedscore.Team2Score}}></td>
   <td> </td>
 </tr>
 {% endfor %}
  <tr id="scoretable">
    <td>Scores</td>
    <td id="team1" value={{gamescore.0.Team1Score}}>{{gamescore.Team1Score}}</td>
    <td id="team2" value={{gamescore.0.Team2Score}}>{{gamescore.Team2Score}}</td>
    <td>&nbsp;</td>
  </tr>
</table>
    <br>
 <input type="hidden" class="form-control" type="text" id ="team1score" name="team1score">
 <input type="hidden" class="form-control" type="text" id="team2score" name="team2score">
<button id="savescores"> Save Scores </button>
</div>

</div>

  {% endblock %}

