{% extends "index.html" %}

{% block content %}

{% load staticfiles %}

<script>
function showMsg() {
	var x = document.getElementById('submit');

	alert("Question has been submitted");
}


</script>

<div id="page-wrapper">

 	<div class="container-fluid">
		<!-- <h1 class="text-center">Select a question to populate </h1> -->
			{% if quiz_list %} <!-- if quiz exists populate form else show empty message -->
			<p style="color:white"> <font size="5"> --Select Quiz ID and Question for Family Feud Game-- </font></p>
				<form name="QuizForm" method="post" action="/home/selectQuiz">
				{% csrf_token %}
				<div style="width: 400px">
							
						<table>
							
							<tr >
							<td><label>Select a Quiz ID: </label>
							<select name="quizIdToPoll"> 
							{% for qId in quiz_list %}
								{% if qId == quizId %}
			    					<option value="{{qId}}" selected>{{qId}}</option>
			    				{% else %}
			    					<option value="{{qId}}">{{qId}}</option>
			    				{% endif %} 
			    	    	{% endfor %}
						   </select>
						   <input class="btn btn-primary" id="submit"
									 method="post" type="Submit" value=OK width="5" height="5">
						   </td></tr>
						  
						   <tr >
							<td><label>Select a Question: </label>
							<select name="questionToPoll" width="300" style="width: 300px"> 
			    			{% for qId in question_list %}
								{% if qId == questionToPoll %}
			    					<option  value="{{qId}}" selected>{{qId}}</option>
			    				{% else %}
			    					<option value="{{qId}}">{{qId}}</option>
			    				{% endif %} 
			    	    	{% endfor %}
		
						   </select>
						   <input class="btn btn-primary" id="submit"
										onclick="showMsg()" method="post" type="Submit" value=Submit>
						   </td></tr>
		
						</table>
					 
			    	</div>
			 	</form>
			
			{% else %}
			
				<label>No Quiz found to display </label>
			{% endif %}
			
	</div>
</div>

{% endblock %}
