<!DOCTYPE html>
<html>

<head>
{% load staticfiles %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>

<script type="text/javascript" src="{% static "JavaScript/app.js" %}"></script>
<script type = "text/javascript" src = "{% static "JavaScript/teamScore.js" %}">
</script>

<style type="text/css">
.txtfld{ width:50px;}
.printer-row{border-collapse: collapse;}
.printer-row td{border:1px solid #ccc;}
</style>

</head>

<body background="{% static "images/learn.png" %}" data-ng-app="application" ng-controller="QuizMe as quizmeCntrl">
<div class="printer-type">
<table width="580" border="0" class="printer-row">
  <tr>
    <td>&nbsp;</td>
    <td>Team A</td>
    <td>Team B</td>
  </tr>
  <tr>
    <td>Question 1</td>
    <td><input type="text" class="txtfld" placeholder="edit"></td>
    <td><input type="text" class="txtfld" placeholder="edit"></td>
  </tr>
  <tr>
    <td>Question 2</td>
    <td><input type="text" class="txtfld" placeholder="edit"></td>
    <td><input type="text" class="txtfld" placeholder="edit"></td>
  </tr>
  <tr>
	<td>Question 3</td>
    <td><input type="text" class="txtfld" placeholder="edit"></td>
    <td><input type="text" class="txtfld" placeholder="edit"></td>
  </tr>
  <tr>
	<td>Question 4</td>
    <td><input type="text" class="txtfld" placeholder="edit"></td>
    <td><input type="text" class="txtfld" placeholder="edit"></td>
  </tr>
   <tr>
	<td>Question 5</td>
    <td><input type="text" class="txtfld" placeholder="edit"></td>
    <td><input type="text" class="txtfld" placeholder="edit"></td>
  </tr>
  <tr>
    <td>Total</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</div>
</body>
</html>