<!DOCTYPE html>
<html>

<!-- this is a test html which was created to populate the team selection in table instead of using selector
due to multiple select and multiple post I created createTems.html with selectors -->

    <head>
    {% load staticfiles %}
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- <link href="multiple-select.css" rel="stylesheet"/> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://rawgit.com/lukaskral/bootstrap-table/feature_lukaskral_bootstrap_table_filter_integration/dist/bootstrap-table.min.css">
        <script src="https://rawgit.com/lukaskral/bootstrap-table/feature_lukaskral_bootstrap_table_filter_integration/src/bootstrap-table.js"></script>
 <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
  

        <script type="text/javascript">
            $(function() {
                $('#tbl').bootstrapTable();

                $('#filter-bar').bootstrapTableFilter({
                    connectTo: '#tbl',
                    onAll: function(name, args) {
                        var d = new Date();
                        $('#log').prepend(d.toLocaleString() + ': ' + name + "\n");
                    },
                    onSubmit: function(data) {
                        var data = $('#filter-bar').bootstrapTableFilter('getData');
                        var d = new Date();
                        $('#log').prepend(d.toLocaleString() + ': ' + JSON.stringify(data) + "\n");
                    }
                });
                    
            });
  		</script>
         <script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script> 
    <script type="text/javascript"
     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>
    <script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        format: 'dd/MM/yyyy hh:mm:ss',
        language: 'pt-BR'
      });
    </script>
        <style>
			div {
			    padding-top: 50px;
			    padding-left: 50px;
			    padding-right: 50px;
			  
			}
			
			
			th {
			    background-color: green;
			    color: white;
			}
		</style>

    </head>

<body  background="{% static "images/learn.png" %}" style="background-size:cover;position:absolute; top:0; bottom:0; right:0; left:0;">

	<div>
		<form name="input" method="post" action="/CreateTeams">
			{% csrf_token %}
			<div id="filter-bar"></div>
			
		<div>
		<input type="hidden" name="queryset" value={{queryset}}> 
		</div>
    
        <table
            id="tbl"
            data-click-to-select="true"
            data-toolbar="#filter-bar"
            data-show-toggle="true"
            data-show-columns="true"
            data-single-select="true"
            data-height="299"
            data-show-refresh="true"
            data-search="true"
            data-side-pagination="server"  
            >
				<thead>
					 <tr>
			            <th data-field="state" data-checkbox="true"></th>
			            <th data-field="studentid" data-align="right">Student ID</th>
			            <th data-field="fname" data-align="center">First Name</th>
			            <th data-field="lname" data-align="left">Last Name</th>
			        </tr>
				</thead>
				
				<tbody>
				{% for category in queryset %}				
				<tr >
					<td>  </td>			
					<td>{{category.studentId}}</td>
					<td>{{category.fname}}</td>
					<td>{{category.lname}}</td>
						
				</tr>
				{% endfor %}
				</tbody>
			</table><br>
			
			<div align="center">
			
			<select name="selStudent" multiple="multiple" >
				<option value="selTeam" selected>--Select Team Name--</option>
				<option value="A">studentId, First Name, Last Name</option>
				{% for category in queryset %}	
				  <option value="{{category.studentId}},{{category.fname}},{{category.lname}}">{{category.studentId}} , {{category.fname}} , {{category.lname}}</option>
				 {% endfor %}
			</select><br>
			
			
			<select name="teamName">
				  <option value="selTeam" selected>--Select Team Name--</option>
				  <option value="A">Team A</option>
				  <option value="B">Team B</option>
			</select><br>
		<!-- 	
			<br><p>Date: <input type="date" name="gameDate"></p><br>
			<br><input type="submit"> -->
	
			</div>
			
			<div id="datetimepicker" class="input-append date">
			      <input type="text"></input>
			      <span class="add-on">
			        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
			      </span>
   			 </div>
		</form>
	</div>
</body>
</html>