{% extends "index.html" %}

{% block content %}

{% load staticfiles %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
		Array.prototype.contains = function(obj) {
		    var i = this.length;
		    while (i--) {
		        if (this[i][0] == obj) {
		            return true;
		        }
		    }
		    return false;
		}
		
		//comparator for frequecies
		function DescFrequencyComparator(a,b){
			if (a[1] < b[1]) return 1;
			if (a[1] > b[1]) return -1;
			return 0;
		}


	    google.load("visualization", "1", {packages:["corechart"]});
	
		var dataChart = [['Words','Frequency']];
		  {% for key, value in data.items %}
		  	dataChart.push(['{{key}}',{{value}}]);
		  {% endfor %}
		  
		 var options = {
		    title: 'Polling Results',
		    selectionMode: 'multiple',
		    hAxis: {title: 'Answer Choice', titleTextStyle: {color: 'red'}},
		    vAxis: {viewWindowMode:'pretty'}
		  };
		
		//Holds the selected data
		var selectedData = [];
		
		window.onload = function onMiningResultsLoad(){
			drawChart(dataChart);
		}
		//Draw chart from passed data array
		function drawChart(dataForChart) {
		  var data = google.visualization.arrayToDataTable(dataForChart);
		  var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
		    
		  google.visualization.events.addListener(chart, 'select', function () {
		  		//empty on every selection and recreate selected data
		  		selectedData.length = 0;
		  	
				var selection = chart.getSelection();
		        if (selection.length) {
		        	for (i = 0; i < selection.length; i++) { 
						if(selectedData.contains(data.Gc[selection[i].row][0].df)==false){
		           			selectedData.push([data.Gc[selection[i].row][0].df,parseInt(data.Gc[selection[i].row][1].df)]);
		            	}
		            }
		         }
		         //var testData = google.visualization.arrayToDataTable(selectedData);
		         //chart.draw(testData, options);
				  
		  });
		  
		  chart.draw(data, options);
		  
		}
		
		//Combine bars / rename bar 
		function mergeData(){
			
			var newTitle = document.getElementById('mergeTitle').value;
			if (newTitle!=undefined && newTitle!=""){
				var addMergedData = 0;
				
				for (i = 0; i < selectedData.length; i++) { 
					addMergedData  =selectedData[i][1]+addMergedData;
					var j = dataChart.length;
				    while (j--) {
				        if (dataChart[j][0] == selectedData[i][0]) {
				            dataChart.splice(j,1);
				        }
				    }
				}
	
				 dataChart.push([newTitle,addMergedData]);
				 drawChart(dataChart);
			 }else {
			 	alert("Enter title for merging!");
			 	return false;
			 }
		}
		
		
		//POST AJAX on Save
		 $(document).ready(function() {
            $("#btnSave").click(function() {
            	//Sort data descending order
            	sendData = dataChart;
				sendData.sort(DescFrequencyComparator);
				familyFeudData = [];
				for (i=1; i<6; i++){
					var obj = {}
					obj.answer = dataChart[i][0];
					obj.frequency = dataChart[i][1];
					familyFeudData.push(obj);
				}
				$.ajax({
                        url : "/familyFeudData", 
                        type : "POST",
                        dataType: "json",
                        data : {
                            'familyFeudData' : JSON.stringify(familyFeudData),
                            'questionId' :  document.getElementById('questionId').textContent,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success : function(json) {
                                $('#result').append( 'Server Response: ' + json.server_response);
                            },
                            error : function(xhr,errmsg,err) {
                                alert(xhr.status + ": " + xhr.responseText);
                            }
                    });
                    return false;
            });
            
         });
    </script>
<div id="page-wrapper">

 	<div class="container-fluid">
 	<div class="row">
   		<h4>Polling results for Question: <span class="label">{{question}}</span></h4>
   		<label style="display:none" id="questionId">{{questionId}}</label>
    </div>
 	<div class="row">
    <div id="chart_div" style="width: 70%; height: 500px"></div>
    </div>
  	<div class="row" style="padding-top: 10px">
  		<div class="form-horizontal">
  			<div class="col-lg-2">
  			<label class="control-label" >New Bar Title:</label>
  			</div>
	        <div class="form-group has-feedback has-feedback-left col-lg-3">
		     <input type="text" id="mergeTitle" placeholder="" class="form-control" >
		      <i title = "Enter new or merge title" class="glyphicon glyphicon-info-sign form-control-feedback"></i>
			</div>
			<div  class="col-lg-2">
			<input class="btn btn-primary" type="button" value="Update Chart" onclick="mergeData();">
			</div>
		</div>
	</div>
	<form role="form">
	<div class="row col-lg-2">
  		<input id="btnSave" class="btn btn-primary" type="button" value="Save Data for Game">
  	</div>
  		<input type="hidden" id="finalPolledData"></input>
	</form>
	
  	</div>
  	
  {% endblock %}
