<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
	    google.load("visualization", "1", {packages:["corechart"]});
		google.setOnLoadCallback(drawChart);
		
		function drawChart() {
		
		  var dataChart = [['Words','Frequency']];
		  {% for key, value in data.items %}
		  	dataChart.push(['{{key}}',{{value}}]);
		  {% endfor %}
		 
		  var data = google.visualization.arrayToDataTable(dataChart);
		
		  var options = {
		    title: 'Polling Results',
		    hAxis: {title: 'Answer Choice', titleTextStyle: {color: 'red'}}
		  };
		
		  var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
		
		  chart.draw(data, options);
		
		}
    </script>
  </head>
  <body onload= "drawChart()">
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  
  </body>
</html>
